extends baseEmail

block content 
    p
      | Hello there, an order  
      strong ##{order_number}
      |  hast been created for your shop and Pending payment. You can login to RacquetPass and veiw it
    .signature
      p 
      p
      p Cheers,
      p RacquetPass