extends baseEmail

block content 
    p
      | Hello there, payment for order 
      strong ##{order_number}
      |  has been recieved. You can login to RacquetPass and view the order status
    .signature
      p 
      p
      p Cheers,
      p RacquetPass